<div id="sub-nav" class="js-sidenav nav-container" role="navigation">
  <a class="sidenav-title" data-behavior="SubMenuMobile">
    Doc Index
  </a>
  <div class="nav-content">
    <ul>
      <li>
        <a id='home-nav-link' href="/altoros-heartbeat/index.html">Altoros Heartbeat for PCF (Beta)</a>
      </li>
      <li>
        <a href="/altoros-heartbeat/installing.html">Installing and Configuring Altoros Heartbeat for PCF</a>
      </li>
      <li>
        <a href="/altoros-heartbeat/installing-collectd.html">Installing collectd Add-on for PCF</a>
      </li>
      <li>
        <a href="/altoros-heartbeat/jmxtrans.html">JMXTrans Agent Integration</a>
      </li>
      <li>
        <a href="/altoros-heartbeat/statsd.html">StatsD Integration</a>
      </li>
      <li>
        <a href="/altoros-heartbeat/using.html">Using Altoros Heartbeat for PCF</a>
      </li>
      <li>
        <a href="/altoros-heartbeat/integration-with-logsearch.html">Altoros Log Search for PCF Integration</a>
      </li>
      <li>
        <a href="/altoros-heartbeat/release-notes.html">Release Notes</a>
      </li>
    </ul>
  </div>
</div><!--end of sub-nav-->
