---
title: Altoros Heartbeat Troubleshooting
owner: Partners
---

This topic describes known issues and troubleshooting strategies.

##<a id='mysql-troubleshooting'></a>MySQL Troubleshooting

If the MySQL cluster used by your Heartbeat installation is broken,
see [Сluster Behavior](https://github.com/cloudfoundry/cf-mysql-release/blob/v35/docs/cluster-behavior.md)
and [Bootstrapping](https://github.com/cloudfoundry/cf-mysql-release/blob/v35/docs/bootstrapping.md)
documentation of the MySQL BOSH release for guidance on how to eliminate the problem
or [contact Altoros](index.html#feedback) for help.
