---
title: Installing collectd Add-on for PCF
owner: Partners
---

This topic describes how to add collectd to your Pivotal Cloud Foundry (PCF) deployment.

## <a id='about'></a>About collectd Add-on for PCF

This add-on is required to enable the Altoros Heartbeat monitoring solution consume system metrics 
from the VMs that make up a PCF deployment. The [collectd](https://collectd.org/) add-on gathers VM
metrics from PCF platform components and any other BOSH-deployed services (e.g., databases)
and makes this information available to Altoros Heartbeat over the network. 

## <a id='prerequisites'></a>Prerequisites

<p class="note"><strong>Note</strong>: collectd add-on for PCF does not work on Windows machines.</p>

To complete the collectd add-on installation:

* You must be a PCF operator with admin rights.
  For more information, see [Understanding Pivotal Cloud Foundry User Types](https://docs.pivotal.io/pivotalcf/customizing/user-types.html#operator).
* You must have a Pivotal Operations Manager (Ops Manager) v1.9 or later.
* collectd add-on uses 50 MB of memory.
  Ensure you have at least 128 MB of memory free on each VM before deploying collectd add-on.

## <a id='manifest'></a>Creating a collectd Manifest

A collectd manifest is a YML file that contains runtime configuration information for the collectd add-on.
Follow the steps below to create a collectd manifest for your deployment:

1. <a id='createmanifest'></a>Create a file named `collectd.yml`, starting with the code below as a template:

    ```
    releases:
    - name: collectd
      version: 10
    addons:
    - name: collectd
      jobs:
      - name: collectd
        release: collectd
      exclude:
        deployments: ['some-deployment-name-to-exclude']
      properties:
        collectd:
          graphite_prefix: cf.collectd.
          graphite_servers:
          - 192.168.1.190
          interval: 10
    ```

1. Replace the values listed in the template as follows:

* `exclude: deployments`: (Optional) Specify the name of the deployment to mass exclude from the collectd add-on coverage.

    <p class="note"><strong>Note</strong> If this functionality is not required, remove this section.</p>

* `collectd: graphite_prefix`: Do not change the graphit_prefix name. It must be `cf.collectd`.
* `collectd: graphite_servers`: List the IP address of your Heartbeat VM.
* `collectd: interval`: You can modify the 10 second default interval value. This value specifies how often the collectd add-on gathers metrics from VMs. 

##<a id='deploy'></a> Downloading and Deploying the collectd Add-on

1. Download the collectd add-on software binary from the [Pivotal Network](https://network.pivotal.io/products/altoros-heartbeat) to your local machine.

1. Copy the software binary to your Ops Manager VM.

    <pre class="terminal">$ scp -i PATH/TO/PRIVATE/KEY collectd-10.tgz ubuntu@YOUR-OPS-MANAGER-VM-IP:</pre>

1. Copy the collectd manifest, `collectd.yml` file, to your Ops Manager instance.

    <pre class="terminal">$ scp -i PATH/TO/PRIVATE/KEY collectd.yml ubuntu@YOUR-OPS-MANAGER-VM-IP:</pre>

1. SSH into Ops Manager.

    <pre class="terminal">$ ssh -i PATH-TO-PRIVATE-KEY ubuntu@YOUR-OPS-MANAGER-VM-IP</pre>

1. On the Ops Manager VM, navigate to the software binary location.

    <pre class="terminal">$ cd ~</pre>

1. On the Ops Manager VM, target your BOSH director instance.

    <pre class="terminal">$ bosh target YOUR-OPS-MANAGER-DIRECTOR-IP
    Target set to 'Ops Manager'
    Your username: director
    Enter password: ****
    Logged in as 'director'</pre>

1. Upload your release.

    <pre class="terminal">$ bosh upload release ~/BINARY-NAME.tgz</pre>

1. From the command line, confirm that the upload of the collectd software binary completed.
   You should see the collectd release.
 
    <pre class="terminal">$ bosh releases</pre>

1. Update your runtime configuration to include the collectd add-on.

    <p class="note"><strong>Note</strong>: If you installed other BOSH add-ons,
    you must merge the collectd manifest into your existing add-on manifest.
    Append the contents of <code>collectd.yml</code> to your existing add-on YML file.</p>

    <pre class="terminal">$ bosh update runtime-config PATH/YOUR-ADD-ON-YML.yml</pre>

1. Verify your runtime configuration changes match what you specified in the collectd manifest.

    ```
    $ bosh runtime-config
    Acting as user 'admin' on 'micro'
    releases:
    - name: collectd
      version: 10
    addons:
    - name: collectd
      jobs:
      - name: collectd
        release: collectd
    ```

1. Navigate to your Installation Dashboard in Ops Manager.

1. Click **Apply Changes**.

## <a id='verify'></a>Verifying the Installation

1. [BOSH SSH](https://docs.pivotal.io/pivotalcf/1-11/customizing/trouble-advanced.html#bosh-ssh) into one of the VMs in your deployment.

1. Run `monit summary`. Look for the following processes in the output:

    <pre class="terminal">The Monit daemon 5.2.4 uptime: 3d 0h 01m
    Process 'collectd' running</pre>

1. If `monit summary` does not list `collectd`, perform the following steps:

    1. Try to start the collectd processes by running the following command:
    <pre class="terminal">$ monit start collectd</pre>
    1. Run the `monit summary` again. If you do not see the processes mentioned above,
    check `/var/vcap/sys/log/collectd` logs for errors.

## <a id='uninstall'></a>Uninstalling the collectd Add-on

Follow the steps below to remove the collectd add-on from your existing runtime config and
roll back to a previous configuration: 

1. SSH into Ops Manager.

    <pre class="terminal">$ ssh -i PATH-TO-PRIVATE-KEY ubuntu@YOUR-OPS-MANAGER-VM-IP</pre>

1. On the Ops Manager VM, retrieve the latest runtime configuration saved on the BOSH Director. 

    <pre class="terminal">$ bosh runtime-config > PATH-TO-SAVE-THE-RUNTIME-CONFIG</pre>

1. Remove the lines added at [step 1](#createmanifest) of [Creating a collectd Manifest](#manifest).

1. Update the runtime configuration.

    <pre class="terminal">$ bosh update runtime-config PATH-TO-SAVE-THE-RUNTIME-CONFIG</pre>

1. Navigate to your Installation Dashboard in Ops Manager.

1. Click **Apply Changes**.

If you have no existing runtime configuration, follow the steps below:  

1. On the Ops Manager VM, create an `empty-runtime.yml` manifest file.

    <pre class="terminal">$ cat empty-runtime.yml 
    releases: []</pre>

1. Update the runtime configuration with `empty-runtime.yml`.

    <pre class="terminal">$ bosh update runtime-config empty-runtime.yml</pre>

1. Navigate to your Installation Dashboard in Ops Manager.

1. Click Apply Changes.

The collectd add-on will be removed from your deployment.
