---
title: Release Notes for Altoros Heartbeat for PCF
owner: Partners
---

These are release notes for Altoros Heartbeat for Pivotal Cloud Foundry (PCF).

##<a id="v1.1.0"></a>v1.1.0

**Release Date:** May 30, 2018

New features available in this release:

* Added TCP Routing monitoring (Firehose and HAProxy metrics).
* Updated the existing dashboards and alerts for Diego.
* Updated the existing dashboards for the Cloud Foundry components.
* Added new dashboards for the Cloud Foundry components.
* A new version of the collectd BOSH Add-on (v10.0.5).
* Added a description of the drill-down feature in the documentation.
* Added the option to disable SSL certificate verification for UAA and CC API endpoints for Grafana.
* Truncated the dashboard names ending with "with Logs". Please, delete such dashboards, if you have any left.
* Added support for PCF v2.0 and initial support for PCF v2.1.
* Added OS-tuning properties.
* Moved a nozzle to a separate VM.
* Enabled a local cache for metrics requests.
* Changed a formula for a replication factor and added a property to override a replication factor.
* Made it possible to configure metrics storage schemas.
* Updated the existing dashboards for Services.
* Added dashboards for "MySQL for PCF v1".
* Added Heartbeat self-alerts.
* Performance optimizations.

##<a id="v1.0.2"></a>v1.0.2

**Release Date:** October 25, 2017

Features included in this release:

* Concourse monitoring
* HAProxy monitoring
* Dashboards bootstrapping mechanism improvements
* Inactive metrics are stored for 30 days now by default

<p class="note"><strong>Note</strong>: Inactive metrics are stored for 30 days by default and will be removed after this period. If you need to store inactive metrics for a different period of time, please change the <strong>Days to keep inactive metrics</strong> parameter with the needed value on the <strong>Heartbeat Metrics Storage Configuration</strong> tab.</p>

##<a id="v1.0.1"></a>v1.0.1

**Release Date:** October 6, 2017

Features included in this release:

* Decreases the persistent disk space taken by the service frontend
* Improves description of properties in the tile configuration UI
* Fixes the RabbitMQ monitoring issue
* Adds support for syslog logs from both Metron and blackbox

<p class="note"><strong>Note</strong>: The service frontend no longer requires 100&nbsp;GB of persistent disk space.
   You can now downscale to 5&nbsp;GB </p>

##<a id="v1.0.0"></a>v1.0.0

**Release Date:** September 18, 2017

Features included in this release:

* Support for a High Availability mode of operation
* Back-end and front-end VMs are separated to improve flexibility and scalability
* New versions of components
* The Heartbeat URL is now `monitoring.%system-domain%`

Known issues in this release:

* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.95"></a>v0.8.95

**Release Date:** September 6, 2017

Features included in this release:

* Monitoring external services (MySQL, PostgreSQL, Memcached, MongoDB, RabbitMQ, and Redis)
* Monitoring external Memcached installations (e.g. ElastiCache Memcached)
* Monitoring external MongoDB installations
* PCF v1.9 is no longer supported

Fixed issues in this release:

* The missing BOSH metrics in PCF v1.11

Known issues in this release:

* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.94"></a>v0.8.94

**Release Date:** August 31, 2017

Features included in this release:

* Service instance update
* Automated update of all service instances upon PCF tile upgrade
* Support for monitoring [Altoros Log Search for PCF](https://network.pivotal.io/products/altoros-log-search/) (Elasticsearch)

Known issues in this release:

* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.93"></a>v0.8.93

**Release Date:** August 21, 2017

Features included in this release:

* Added integration with the [Altoros Log Search for PCF](https://network.pivotal.io/products/altoros-log-search) tile
* Added configuration of the metrics storage

Known issues in this release:

* After renaming the org/space with the Altoros Heartbeat service instance, access to metrics of this org/space is unavailable.
  For instructions on how to fix the issue manually, contact Altoros support team.
* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.92"></a>v0.8.92

**Release Date:** August 16, 2017

Features included in this release:

* Remove the minor version number from stemcell criteria to allow the user to apply stemcell security patches
* VM requirements decreased in **Resource Config**

Fixed issues in this release:

* A bug affecting performance

Known issues in this release:

* After renaming the org/space with the Altoros Heartbeat service instance, access to metrics of this org/space is unavailable.
  For instructions on how to fix the issue manually, contact Altoros support team.
* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.91"></a>v0.8.91

**Release Date:** August 3, 2017

Features included in this release:

* Added support of external MySQL for PCF Elastic Runtime
* Added support of on-demand version of Crunchy PostgreSQL
* Minor updates of dashboards
* Update the version of carbonapi
* Update Grafana version
* Forbidden creation of service instance in admin's org/space
* Added delete-uaa-client errand
* Changed VM requirements in **Resource Config**

Known issues in this release:

* After renaming the org/space with the Altoros Heartbeat service instance, access to metrics of this org/space is unavailable.
  For instructions on how to fix the issue manually, contact Altoros support team.
* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.90"></a>v0.8.90

**Release Date:** July 20, 2017

Features included in this release:

* Open Beta
* PCF monitoring with predefined dashboards
* UAA integration
* The possibility to use the service in a multitenant mode
* Services monitoring (RabbitMQ, Redis, MySQL, Crunchy PostgreSQL, Dingo PostgreSQL) with predefined dashboards
* Basic apps monitoring with predefined dashboards
* JMXTrans integration

Known issues in this release:

* Creation of service instances inside the org/space that grant users admin access to Altoros Heartbeat
  (the org/space specified at the Grafana configuration step during the installation process) is not supported.
* After renaming the org/space with the Altoros Heartbeat service instance, access to metrics of this org/space is unavailable.
  For instructions on how to fix the issue manually, contact Altoros.
* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.
