---
title: Release Notes for Altoros Heartbeat for PCF
owner: Partners
---

These are release notes for Altoros Heartbeat for Pivotal Cloud Foundry (PCF).

##<a id="v0.8.94"></a>v0.8.94

**Release Date:** August 28, 2017

Features included in this release:

* Service instance update
* Automated update of all service instances upon PCF tile upgrade
* Support for monitoring [Altoros Log Search for PCF](https://network.pivotal.io/products/altoros-log-search/) (Elasticsearch)

Known issues in this release:

* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.93"></a>v0.8.93

**Release Date:** August 21, 2017

Features included in this release:

* Added integration with the [Altoros Log Search for PCF](https://network.pivotal.io/products/altoros-log-search) tile
* Added configuration of the metrics storage

Known issues in this release:

* After renaming the org/space with the Altoros Heartbeat service instance, access to metrics of this org/space is unavailable.
  For instructions on how to fix the issue manually, contact Altoros support team.
* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.92"></a>v0.8.92

**Release Date:** August 16, 2017

Features included in this release:

* Remove the minor version number from stemcell criteria to allow the user to apply stemcell security patches
* Fixed a bug affecting performance
* VM requirements decreased in **Resource Config**

Known issues in this release:

* After renaming the org/space with the Altoros Heartbeat service instance, access to metrics of this org/space is unavailable.
  For instructions on how to fix the issue manually, contact Altoros support team.
* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.91"></a>v0.8.91

**Release Date:** August 3, 2017

Features included in this release:

* Added support of external MySQL for PCF Elastic Runtime
* Added support of on-demand version of Crunchy PostgreSQL
* Minor updates of dashboards
* Update the version of carbonapi
* Update Grafana version
* Forbidden creation of service instance in admin's org/space
* Added delete-uaa-client errand
* Changed VM requirements in **Resource Config**

Known issues in this release:

* After renaming the org/space with the Altoros Heartbeat service instance, access to metrics of this org/space is unavailable.
  For instructions on how to fix the issue manually, contact Altoros support team.
* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.

##<a id="v0.8.90"></a>v0.8.90

**Release Date:** July 20, 2017

Features included in this release:

* Open Beta
* PCF monitoring with predefined dashboards
* UAA integration
* The possibility to use the service in a multitenant mode
* Services monitoring (RabbitMQ, Redis, MySQL, Crunchy PostgreSQL, Dingo PostgreSQL) with predefined dashboards
* Basic apps monitoring with predefined dashboards
* JMXTrans integration

Known issues in this release:

* Creation of service instances inside the org/space that grant users admin access to Altoros Heartbeat
  (the org/space specified at the Grafana configuration step during the installation process) is not supported.  
* After renaming the org/space with the Altoros Heartbeat service instance, access to metrics of this org/space is unavailable.
  For instructions on how to fix the issue manually, contact Altoros.
* Alerts are not enabled automatically after installation of the Altoros Heartbeat for PCF tile.
  To [enable alerts](using.html#alerting-dashboards), open the **alerting** dashboard and click the save icon.
